
!**/src/main/**/bin/
!**/src/main/**/build/
!**/src/main/**/out/
!**/src/test/**/bin/
!**/src/test/**/build/
!**/src/test/**/out/
!gradle/wrapper/gradle-wrapper.jar
### Files ###
### Folders ###
### IntelliJ IDEA ###
### NetBeans ###
### STS ###
### VS Code ###
*.iml
*.ipr
*.iws
.DS_Store
.DStore
.apt_generated
.classpath
.factorypath
.gradle
.idea
.project
.settings
.springBeans
.sts4-cache
.vscode/
/.nb-gradle/
/dist/
/evolution-api/data
/evolution-api/data/*
/nbbuild/
/nbdist/
/nbproject/private/
/postgres-database/*
HELP.md
bin/
build/
out/
postgres-database
test.txt
text.pdf
